.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signUp-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  button {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .switch {
    background-color: white;
    color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .switch:hover {
    background-color: #2196f3;
    color: white;
  }
  
  .greetings {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .welcome {
    font-size: 30px;
    margin-bottom: 5px;
  }
  
  .instru {
    font-size: 16px;
    color: gray;
  }
  